body {
  margin: 0;
  background: #f8f8f8;
  overflow-x: hidden;
}
.header {
  background: #d61120;
  height: 50px;
  padding: 0 20px;
  margin: 20px 0;
  position: relative;
}
.header-content {
  width: 100%;
  height: 100%;
  position: relative;
}

.text-block {
  display: inline-block;
  margin-left: 50px;
  line-height: 50px;
  vertical-align: middle;
}
.globe-icon {
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}
#header-web {
  color: white;
  font: 14px inter;
  vertical-align: middle;
}
.social-block {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  margin-right: 50px;
  position: absolute;
}
#header-socials {
  font-family: inter;
  color: white;
  font-size: 14px;
  vertical-align: middle;
}
.header-icons {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}
.header-icons li {
  display: inline-block;
  margin-left: 5px;
}
.header-icons img {
  height: 20px;
  width: auto;
  vertical-align: middle;
}
.below-content {
  display: inline-block;
  position: absolute;
  margin: 20px 50px;
}
.netband {
  line-height: 100%;
  font: 700 32px inter;
  color: #d4111a;
}
.menu li {
  font-family: inter;
  font-size: 20px;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  left: 250px;
  bottom: 40px;
  position: relative;
  margin-left: 35px;
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu img {
  margin-left: 3px;
}
#home {
  font-weight: bold;
}
.side-icons li {
  display: inline-block;
  vertical-align: middle;
  left: 1150px;
  bottom: 95px;
  position: relative;
  margin-left: 15px;
}

.wallpaper {
  position: relative;
  top: 70px;
}
.wallpaper #wall {
  width: 100%;
  display: block;
}
.wallpaper #rec {
  display: inline-block;
  height: 845px;
  bottom: 845px;
  margin: 0;
  padding: 0;
  position: relative;
}
.rect{
  position: relative;
  background-color: #4d4d50;
  width: 785px;
  height: 850px;
  bottom: 845px;
  opacity: 60%;

}
.text #journey {
  font: 700 96px inter;
  color: white;
  position: absolute;
  top: 120px;
  left: 100px;
}
.text p {
  font: 300 36px inter;
  position: absolute;
  top: 320px;
  left: 102px;
  color: white;
}
.text h1 {
  font: 900 65px inter;
  color: #d61120;
  position: absolute;
  top: 427px;
  left: 100px;
}
#month {
  width: 100px;
  position: absolute;
  top: 38px;
  left: 205px;
  color: #fff;
  font: 900 25px inter;
}
.wall-bg {
  width: 210px;
  height: 61px;
  background: #d61120;
  border-radius: 7px;
  display: block;
  bottom: 1050px;
  left: 100px;
  position: relative;
}
.wall-be span {
  display: block;
  font: 700 28px inter;
  color: white;
  top: 13px;
  left: 30px;
  position: relative;
}

.products {
  position: relative;
  bottom: 250px;
}
.products-text {
  display: inline-block;
  position: absolute;
}
.products-text #cer {
  position: relative;
  color: #f4222b;
  font: 900 20px inter;
  bottom: 520px;
  left: 655px;
  text-decoration: underline;
}
.products-text #tagline {
  position: absolute;
  width: 800px;
  color: balck;
  text-align: center;
  left: 365px;
  bottom: 430px;
  font: 700 32px inter;
}
.products-boxes li {
  background: #fff;
  border-radius: 10px;
  width: 319px;
  height: 372px;
  display: inline-block;
  position: relative;
  margin-left: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
#pro1 {
  left: 50px;
  bottom: 350px;
}
#pro2 {
  left: 50px;
  bottom: 376px;
  background-color: #d61120;
}
#pro3 {
  left: 50px;
  bottom: 354px;
}
#pro4 {
  left: 50px;
  bottom: 355px;
}
.products-boxes img {
  display: inline-block;
  position: relative;
}
#pro-img1 {
  top: 40px;
  left: 30px;
}
#pro-img2 {
  top: 67px;
  left: 30px;
}
#pro-img3 {
  top: 45px;
  left: 30px;
}
#pro-img4 {
  top: 46px;
  left: 30px;
}

.products-text li {
  font: 800 20px inter;
  list-style: none;
  display: inline-block;
  position: relative;
  bottom: 605px;
}
#text1,
#price1 {
  left: 90px;
  position: relative;
}
#text2,
#price2 {
  left: 195px;
  color: white;
  position: relative;
}
#text3,
#price3 {
  left: 295px;
  position: relative;
}
#text4,
#price4 {
  left: 395px;
  position: relative;
}
#price-drop1,
#price-drop2 {
  text-decoration: line-through;
  opacity: 0.7;
}
.products-text #price1,
#price2,
#price3,
#price4,
#price-drop1,
#price-drop2,
#price-drop3 {
  top: 30px;
  font-weight: 400;
}

.about {
  top: 2245px;
  position: relative;
}
.about-our h1 {
  text-decoration: underline;
  color: #f4222b;
  font: 900 20px inter;
  margin: 0;
  padding: 0;
  display: inline-block;
  bottom: 2840px;
  left: 760px;
  position: relative;
}
.about-our span {
  font: 700 40px inter;
  display: inline-block;
  color: black;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 2730px;
  left: 530px;
}
.about-our p {
  opacity: 0.7;
  color: #000;
  font: 400 20px inter;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 2650px;
  right: 38px;
  display: inline-block;
}
.about-icons li {
  display: inline-block;
  position: relative;
  bottom: 2600px;
  left: 430px;
  margin-left: 290px;
}
.icons-text #k4,
#fully {
  list-style: none;
  font-family: inter;
  display: inline-block;
  position: relative;
  bottom: 2620px;
  left: 670px;
  margin-left: 50px;
}
.icons-text h1 {
  font-size: 24px;
  font-weight: 600;
}
.icons-text span {
  opacity: 0.7;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  bottom: 30px;
}

.reviews {
  left: 30px;
  position: relative;
  bottom: 108px;
}
.reviews #sirabao,
#idk1,
#idk2,
#idk3 {
  list-style: none;
  display: inline-block;
  position: relative;
}
#sirabao {
  z-index: 1;
  left: 700px;
  bottom: 2495px;
}
#idk1 {
  left: 671px;
  bottom: 2497px;
}
#idk2 {
  left: 630px;
  bottom: 2486px;
  z-index: -1;
}
#idk3 {
  left: 590px;
  bottom: 2500px;
  z-index: -2;
}
#reviews-text {
  font: 400 20px inter;
  text-decoration: underline;
  list-style: none;
  bottom: 2550px;
  left: 900px;
  position: relative;
}
#expert {
  font: 400 20px inter;
  list-style: none;
  bottom: 2617px;
  left: 725px;
  position: relative;
  margin-top: 5px;
}
#expert img {
  top: 7px;
  right: 5px;
  position: relative;
}
#about-bg {
  position: relative;
  bottom: 3138px;
  left: 103px;
}
#about-rate {
  position: relative;
  bottom: 3522px;
  right: 475px;
}
#rate-text li {
  color: white;
  font-family: inter;
  list-style: none;
  display: block;
  position: relative;
}
#year {
  font-size: 64px;
  font-weight: 700;
  bottom: 3730px;
  left: 5px;
  position: relative;
}
#exp {
  text-decoration: underline;
  font: 400 20px inter;
  bottom: 3770px;
  left: 5px;
  position: relative;
}
#star {
  bottom: 3760px;
  position: relative;
}
#trust {
  font-size: 15px;
  bottom: 3765px;
  position: relative;
}
.rate {
  position: relative;
  bottom: 238px;
}
.rate-num {
  background: white;
  width: 78px;
  height: 54px;
  border-radius: 5px;
  bottom: 3970px;
  left: 243px;
  position: relative;
}
.rate-num img {
  top: 2px;
  left: 58px;
  position: relative;
  display: block;
}
.rate-num h1 {
  font: 700 24px inter;
  color: #d61120;
  bottom: 19px;
  left: 18px;
  position: relative;
}
#border {
  display: inline-block;
  bottom: 4015px;
  left: 190px;
  position: relative;
  z-index: -1;
}
#pc {
  display: inline-block;
  bottom: 3965px;
  right: 3px;
  position: relative;
}

.package {
  position: relative;
  bottom: 1880px;
}
#package-bg {
  width: 100%;
  position: relative;
  display: inline-block;
}
#girl {
  left: 643px;
  bottom: 900px;
  position: relative;
}
.choose {
  top: 1030px;
  right: 650px;
  position: relative;
}
.choose h1 {
  text-decoration: underline;
  color: #f4222b;
  font: 900 20px inter;
  bottom: 2840px;
  left: 745px;
  display: inline-block;
  position: relative;
}
.choose span {
  font: 700 40px inter;
  color: #000;
  bottom: 2730px;
  left: 530px;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}

.mbps {
  left: 13px;
  bottom: 20px;
  position: relative;
}
.mbps li {
  background: white;
  border-radius: 5px;
  width: 169px;
  height: 59px;
  font: 700 18px inter;
  list-style: none;
  margin-left: 40px;
  display: inline-block;
  bottom: 1650px;
  position: relative;
}
#twenty,
#thirty,
#ten {
  top: 17px;
  left: 50px;
  position: relative;
}
#ten1 {
  background: #f4222b;
  color: white;
  font-family: inter;
}

.prc ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.prc li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font: 20px inter;
  position: relative;
}
#month800 {
  background: white;
  border: 2px solid #d4111a;
  color: #f4222b;
  border-radius: 5px;
  width: 293px;
  height: 145px;
  display: inline-block;
  bottom: 1620px;
  left: 50px;
  margin-left: 40px;
  position: relative;
}
#month300 {
  left: 50px;
  bottom: 1620px;
  margin-left: 40px;
  position: relative;
}
#month800 h1,
#month300 h1 {
  font-size: 75px;
  margin: 0;
  top: 25px;
  position: relative;
  display: inline-block;
}
.currency,
.label {
  color: #4d4d50;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  top: 25px;
  position: relative;
}

#expert-p {
  font: 200 29px inter;
  list-style: none;
  bottom: 1570px;
  left: 55px;
  margin-top: 5px;
  position: relative;
}
#expert-p img {
  top: 7px;
  right: 5px;
  position: relative;
}
.package-web {
  text-decoration: underline;
  font: 400 38px inter;
  bottom: 1540px;
  left: 90px;
  position: relative;
}

.footer-bar {
  background: #d61120;
  height: 49px;
  padding: 0 20px;
  margin-top: 50px;
  position: relative;
  bottom: 3371px;
}
.footer-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.footer-left {
  line-height: 49px;
  margin-left: 50px;
  display: inline-block;
  vertical-align: middle;
}
.footer-icon {
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}
#footer-website {
  color: white;
  font: 14px inter;
  vertical-align: middle;
}
.footer-right {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  margin-right: 50px;
  position: absolute;
}
#footer-follow-text {
  color: white;
  font: 14px inter;
  vertical-align: middle;
}
.footer-social-icons {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}
.footer-social-icons li {
  display: inline-block;
  margin-left: 5px;
}
.footer-social-icons img {
  height: 20px;
  width: auto;
  vertical-align: middle;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background: #f8f8f8;
  overflow-x: hidden;
}
.header {
  background: #d61120;
  height: 50px;
  padding: 0 20px;
  margin: 20px 0;
  position: relative;
}
.header-content {
  width: 100%;
  height: 100%;
  position: relative;
}

.text-block {
  display: inline-block;
  margin-left: 50px;
  line-height: 50px;
  vertical-align: middle;
}
.globe-icon {
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}
#header-web {
  color: white;
  font: 14px inter;
  vertical-align: middle;
}
.social-block {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  margin-right: 50px;
  position: absolute;
}
#header-socials {
  font-family: inter;
  color: white;
  font-size: 14px;
  vertical-align: middle;
}
.header-icons {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}
.header-icons li {
  display: inline-block;
  margin-left: 5px;
}
.header-icons img {
  height: 20px;
  width: auto;
  vertical-align: middle;
}
.below-content {
  display: inline-block;
  position: absolute;
  margin: 20px 50px;
}
.netband {
  line-height: 100%;
  font: 700 32px inter;
  color: #d4111a;
}
.menu li {
  font-family: inter;
  font-size: 20px;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  left: 250px;
  bottom: 40px;
  position: relative;
  margin-left: 35px;
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu img {
  margin-left: 3px;
}
#home {
  font-weight: bold;
}
.side-icons li {
  display: inline-block;
  vertical-align: middle;
  left: 1150px;
  bottom: 95px;
  position: relative;
  margin-left: 15px;
}

.products {
  position: relative;
  bottom: 250px;
}
.products-text {
  display: inline-block;
  position: absolute;
}
.products-text #cer {
  position: relative;
  color: #f4222b;
  font: 900 20px inter;
  bottom: 520px;
  left: 655px;
  text-decoration: underline;
}
.products-text #tagline {
  position: absolute;
  width: 800px;
  color: balck;
  text-align: center;
  left: 365px;
  bottom: 430px;
  font: 700 32px inter;
}
.products-boxes li {
  background: #fff;
  border-radius: 10px;
  width: 319px;
  height: 372px;
  display: inline-block;
  position: relative;
  margin-left: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
#pro1 {
  left: 50px;
  bottom: 350px;
}
#pro2 {
  left: 50px;
  bottom: 376px;
  background-color: #d61120;
}
#pro3 {
  left: 50px;
  bottom: 354px;
}
#pro4 {
  left: 50px;
  bottom: 355px;
}
.products-boxes img {
  display: inline-block;
  position: relative;
}
#pro-img1 {
  top: 40px;
  left: 30px;
}
#pro-img2 {
  top: 67px;
  left: 30px;
}
#pro-img3 {
  top: 45px;
  left: 30px;
}
#pro-img4 {
  top: 46px;
  left: 30px;
}

.products-text li {
  font: 800 20px inter;
  list-style: none;
  display: inline-block;
  position: relative;
  bottom: 605px;
}
#text1,
#price1 {
  left: 90px;
  position: relative;
}
#text2,
#price2 {
  left: 195px;
  color: white;
  position: relative;
}
#text3,
#price3 {
  left: 295px;
  position: relative;
}
#text4,
#price4 {
  left: 395px;
  position: relative;
}
#price-drop1,
#price-drop2 {
  text-decoration: line-through;
  opacity: 0.7;
}
.products-text #price1,
#price2,
#price3,
#price4,
#price-drop1,
#price-drop2,
#price-drop3 {
  top: 30px;
  font-weight: 400;
}

.about {
  top: 2245px;
  position: relative;
}
.about-our h1 {
  text-decoration: underline;
  color: #f4222b;
  font: 900 20px inter;
  margin: 0;
  padding: 0;
  display: inline-block;
  bottom: 2840px;
  left: 760px;
  position: relative;
}
.about-our span {
  font: 700 40px inter;
  display: inline-block;
  color: black;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 2730px;
  left: 530px;
}
.about-our p {
  opacity: 0.7;
  color: #000;
  font: 400 20px inter;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 2650px;
  right: 38px;
  display: inline-block;
}
.about-icons li {
  display: inline-block;
  position: relative;
  bottom: 2600px;
  left: 430px;
  margin-left: 290px;
}
.icons-text #k4,
#fully {
  list-style: none;
  font-family: inter;
  display: inline-block;
  position: relative;
  bottom: 2620px;
  left: 670px;
  margin-left: 50px;
}
.icons-text h1 {
  font-size: 24px;
  font-weight: 600;
}
.icons-text span {
  opacity: 0.7;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  bottom: 30px;
}

.reviews {
  left: 30px;
  position: relative;
  bottom: 108px;
}
.reviews #sirabao,
#idk1,
#idk2,
#idk3 {
  list-style: none;
  display: inline-block;
  position: relative;
}
#sirabao {
  z-index: 1;
  left: 700px;
  bottom: 2495px;
}
#idk1 {
  left: 671px;
  bottom: 2497px;
}
#idk2 {
  left: 630px;
  bottom: 2486px;
  z-index: -1;
}
#idk3 {
  left: 590px;
  bottom: 2500px;
  z-index: -2;
}
#reviews-text {
  font: 400 20px inter;
  text-decoration: underline;
  list-style: none;
  bottom: 2550px;
  left: 900px;
  position: relative;
}
#expert {
  font: 400 20px inter;
  list-style: none;
  bottom: 2617px;
  left: 725px;
  position: relative;
  margin-top: 5px;
}
#expert img {
  top: 7px;
  right: 5px;
  position: relative;
}
#about-bg {
  position: relative;
  bottom: 3138px;
  left: 103px;
}
#about-rate {
  position: relative;
  bottom: 3522px;
  right: 475px;
}
#rate-text li {
  color: white;
  font-family: inter;
  list-style: none;
  display: block;
  position: relative;
}
#year {
  font-size: 64px;
  font-weight: 700;
  bottom: 3730px;
  left: 5px;
  position: relative;
}
#exp {
  text-decoration: underline;
  font: 400 20px inter;
  bottom: 3770px;
  left: 5px;
  position: relative;
}
#star {
  bottom: 3760px;
  position: relative;
}
#trust {
  font-size: 15px;
  bottom: 3765px;
  position: relative;
}
.rate {
  position: relative;
  bottom: 238px;
}
.rate-num {
  background: white;
  width: 78px;
  height: 54px;
  border-radius: 5px;
  bottom: 3970px;
  left: 243px;
  position: relative;
}
.rate-num img {
  top: 2px;
  left: 58px;
  position: relative;
  display: block;
}
.rate-num h1 {
  font: 700 24px inter;
  color: #d61120;
  bottom: 19px;
  left: 18px;
  position: relative;
}
#border {
  display: inline-block;
  bottom: 4015px;
  left: 190px;
  position: relative;
  z-index: -1;
}
#pc {
  display: inline-block;
  bottom: 3965px;
  right: 3px;
  position: relative;
}

.package {
  position: relative;
  bottom: 1880px;
}
#package-bg {
  width: 100%;
  position: relative;
  display: inline-block;
}
#girl {
  left: 643px;
  bottom: 900px;
  position: relative;
}
.choose {
  top: 1030px;
  right: 650px;
  position: relative;
}
.choose h1 {
  text-decoration: underline;
  color: #f4222b;
  font: 900 20px inter;
  bottom: 2840px;
  left: 745px;
  display: inline-block;
  position: relative;
}
.choose span {
  font: 700 40px inter;
  color: #000;
  bottom: 2730px;
  left: 530px;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}

.mbps {
  left: 13px;
  bottom: 20px;
  position: relative;
}
.mbps li {
  background: white;
  border-radius: 5px;
  width: 169px;
  height: 59px;
  font: 700 18px inter;
  list-style: none;
  margin-left: 40px;
  display: inline-block;
  bottom: 1650px;
  position: relative;
}
#twenty,
#thirty,
#ten {
  top: 17px;
  left: 50px;
  position: relative;
}
#ten1 {
  background: #f4222b;
  color: white;
  font-family: inter;
}

.prc ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.prc li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font: 20px inter;
  position: relative;
}
#month800 {
  background: white;
  border: 2px solid #d4111a;
  color: #f4222b;
  border-radius: 5px;
  width: 293px;
  height: 145px;
  display: inline-block;
  bottom: 1620px;
  left: 50px;
  margin-left: 40px;
  position: relative;
}
#month300 {
  left: 50px;
  bottom: 1620px;
  margin-left: 40px;
  position: relative;
}
#month800 h1,
#month300 h1 {
  font-size: 75px;
  margin: 0;
  top: 25px;
  position: relative;
  display: inline-block;
}
.currency,
.label {
  color: #4d4d50;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  top: 25px;
  position: relative;
}

#expert-p {
  font: 200 29px inter;
  list-style: none;
  bottom: 1570px;
  left: 55px;
  margin-top: 5px;
  position: relative;
}
#expert-p img {
  top: 7px;
  right: 5px;
  position: relative;
}
.package-web {
  text-decoration: underline;
  font: 400 38px inter;
  bottom: 1540px;
  left: 90px;
  position: relative;
}

.footer-bar {
  background: #d61120;
  height: 49px;
  padding: 0 20px;
  margin-top: 50px;
  position: relative;
  bottom: 3386px;
}
.footer-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.footer-left {
  line-height: 49px;
  margin-left: 50px;
  display: inline-block;
  vertical-align: middle;
}
.footer-icon {
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}
#footer-website {
  color: white;
  font: 14px inter;
  vertical-align: middle;
}
.footer-right {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  margin-right: 50px;
  position: absolute;
}
#footer-follow-text {
  color: white;
  font: 14px inter;
  vertical-align: middle;
}
.footer-social-icons {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}
.footer-social-icons li {
  display: inline-block;
  margin-left: 5px;
}
.footer-social-icons img {
  height: 20px;
  width: auto;
  vertical-align: middle;
}
